<a href="https://colab.research.google.com/github/jhmartire/Predict-Times-Series-Test/blob/master/Rossmann_Sales_productors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0.0 IMPORTS

In [2]:
!pip install inflection

Collecting inflection
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Installing collected packages: inflection
Successfully installed inflection-0.5.1

In [4]:
import io
import pandas as pd
import io
import numpy as np 
import inflect
import mmap
import math
import inflection


from google.colab import drive 
#drive.mount('/content/drive')

##0.2. Loading data

In [5]:
df_sales_raw = pd.read_csv( '/content/drive/My Drive/Data Science em Producao /train.csv')
df_store_raw = pd.read_csv( '/content/drive/My Drive/Data Science em Producao /store.csv')

#merge
df_raw = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_raw.shape

(1017209, 18)

In [7]:
df_raw.sample()

        Store  DayOfWeek  ... Promo2SinceYear    PromoInterval
330455    691          1  ...          2009.0  Jan,Apr,Jul,Oct

[1 rows x 18 columns]

# DESCRICAO DE DADOS

In [8]:
df1 = df_raw.copy()

##1.1.Rename Columns

In [9]:
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [10]:
cols_old=['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
          'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
          'CompetitionDistance', 'CompetitionOpenSinceMonth',
          'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
          'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore ( x )  

cols_new = list( map( snakecase, cols_old) )

#rename
df1.columns = cols_new

In [11]:
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

##1.2. Data Dimensions

In [12]:
  print( 'Number of Rows: {}' .format( df1.shape[0] ) )
  print( 'Number of Cols: {}' .format( df1.shape[1] ) )

Number of Rows: 1017209
Number of Cols: 18

##1.3. Data Types

In [13]:
df1['date'] = pd.to_datetime( df1['date'] )
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

##1.4. Check NA

In [14]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

##1.5. Fillout NA

In [15]:
df1.sample()

        store  day_of_week  ... promo2_since_year  promo_interval
817714     90            5  ...               NaN             NaN

[1 rows x 18 columns]

In [16]:
df1['competition_distance'].max()

75860.0

In [17]:
#competition_distance
df1['competition_distance'] = df1['competition_distance'].apply( lambda x: 200000.0 if math.isnan(x) else x)

#competition_open_since_month    
df1['competition_open_since_month'] = df1.apply(lambda x: x['date'].month if math.isnan (x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)

#competition_open_since_year 
df1['competition_open_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan (x['competition_open_since_year']) else x['competition_open_since_year'], axis=1)
                               
#promo2_since_week   
df1['promo2_since_week'] = df1.apply(lambda x: x['date'].week if math.isnan (x['promo2_since_week']) else x['promo2_since_week'], axis=1)

#promo2_since_year 
df1['promo2_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan (x['promo2_since_year']) else x['promo2_since_year'], axis=1)

#promo_interval    
month_map = {1:'Jan',2:'Fev',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}


df1['promo_interval'].fillna(0, inplace=True )

df1['month_map'] = df1['date'].dt.month.map( month_map)

df1['is_promo'] = df1[['promo_interval', 'month_map']].apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis=1)

In [18]:
df1.sample(5).T

                                           266061  ...               736919
store                                         836  ...                  690
day_of_week                                     7  ...                    1
date                          2014-11-30 00:00:00  ...  2013-09-09 00:00:00
sales                                           0  ...                 8546
customers                                       0  ...                 1061
open                                            0  ...                    1
promo                                           0  ...                    1
state_holiday                                   0  ...                    0
school_holiday                                  0  ...                    0
store_type                                      a  ...                    a
assortment                                      a  ...                    a
competition_distance                         2720  ...                  100
competition_open_since_month                    9  ...                    9
competition_open_since_year                  2012  ...                 2013
promo2                                          0  ...                    0
promo2_since_week                              48  ...                   37
promo2_since_year                            2014  ...                 2013
promo_interval                                  0  ...                    0
month_map                                     Nov  ...                  Sep
is_promo                                        0  ...                    0

[20 rows x 5 columns]

In [19]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
month_map                       0
is_promo                        0
dtype: int64